<div class="profile-badge">
  <img src="{{ '/assets/img/laz_pic.jpg' | relative_url }}" alt="Profile picture" class="profile-badge-img">
  <div class="profile-badge-name">Lazar Atanackovic</div>
  <div class="profile-badge-info">
    <strong>Ph.D Candidate</strong><br>
    University of Toronto<br>
    Vector Institute<br>
    l.atanackovic at mail.utoronto.ca
  </div>
</div> 