<div class="profile-badge">
  <img src="{{ '/assets/img/laz_pic.jpg' | relative_url }}" alt="Profile picture" class="profile-badge-img">
  <div class="profile-badge-name">Lazar Atanackovic</div>
  <div class="profile-badge-info">
    <br>
    <strong>Postdoc Fellow</strong>
    The Broad Institute of MIT-Harvard<br>
    The Eric & Wendy Schmidt Center
    <br>
    <strong>Incoming Assistant Professor</strong>
    University of Alberta<br>
    Dept. of Electrical & Computer Eng<br>
    Dept. of Biochemistry<br>
    <br>
    <strong>Amii Research Fellow</strong>
    Alberta Machine Intelligence Institute (Amii)<br>
  </div>
</div> 